body {
    background: #a8ff6b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #31ca9a, #81d045, #15e0a6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0fbcb1, #87ee9a, #88f9b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-white {
    background-color: #ffffff;
}

.navbar{
    background: #532a76;
    background: -webkit-linear-gradient(to right, #9060ca, #9657d1, #8953c0);
    background: linear-gradient(to right, #8c3dcd, #66339f, #7c56bd);
    
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}

.Titulo1{
    margin-left: 90px;
    margin-right: 10px;
}

.botones {
    
    
    margin-left: 50px;
    margin-right: 10px;
    color: chocolate;
} 



.lista{
    margin-top: 20px;
    margin-left: 650px;
    margin-right: 50px;
}
.nombre{
    
    text-decoration: none;
    color: white;
}

.numero{
    text-decoration: none;
    color:lemonchiffon;
}

.fifu{
    margin-top: 100px;
}
.mate{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 50px;
}

.pepe{
    color:yellowgreen;
}